<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="actiTIME Browser" preserve-order="true"><listeners><listener class-name="org.uncommons.reportng.HTMLReporter"/><listener class-name="org.uncommons.reportng.JUnitXMLReporter"/></listeners><test name="actiTIME - Desktop Sanity"><classes><class name="com.actitime.testscripts.TestScriptsWeb"><methods><include name="TC01_SignIntoApplication"/><include name="TC08_SignOutOfApplication"/><exclude name="TC02_NavigateToTasks"/><exclude name="TC03_NavigateToReports"/><exclude name="TC04_NavigateToUsers"/><exclude name="TC05_CreateAUser"/><exclude name="TC06_VerifyExistingUser"/><exclude name="TC07_DeleteUser"/></methods></class><class name="com.actitime.testscripts.TestScriptsMobile"><methods><include name="TC01_SignIntoApplication"/><include name="TC08_SignOutOfApplication"/><exclude name="TC02_NavigateToTasks"/><exclude name="TC03_NavigateToReports"/><exclude name="TC04_NavigateToUsers"/></methods></class></classes></test></suite>