<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="actiTIME Application" preserve-order="true"><listeners><listener class-name="org.uncommons.reportng.HTMLReporter"/><listener class-name="org.uncommons.reportng.JUnitXMLReporter"/></listeners><test name="actiTIME - Sanity"><classes><class name="com.actitime.testscripts.TestScriptsWeb"><methods/></class></classes></test></suite>